html {
    font-size: 16px;
    /*min-width: 580px;*/
}

body {
    padding: 0;
    margin: 0;
}

nav {
    padding: 0;
    margin: 0;
    background-color: #009999;
}

.Main-Navigation {
    display: inline-flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

header {
    margin: 0;
    padding: 0;
}

.Main-Navigation ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-right: 2rem;
}

.Main-Navigation ul li{
    margin: 0 1rem;
    padding: 0.5rem;
    border-radius: 8px;
    background-color: beige;
    box-shadow: 0 0.1rem 0.2rem;
    a {
        color: #056969;
        font-size: 1.3rem;
    }
}

.Main-Navigation ul li:hover{
    background-color: #056969;
    transition: all 0.3s ease-in-out;
    a {
        color: gold;
        transition: all 0.3s ease-in-out;
    }
}

.Main-Navigation ul li:active{
    background-color: beige;
    position: relative;
    top: 0.2rem;
    box-shadow: none;
    background-color: black;
    transition: background-color 0.3s ease-in-out;
    a {
        color: white;
        transition: color 0.3s ease-in-out;
    }
}

.Main-Navigation h1 {
    font-family: "Domine", "Bungee Tint", serif;
    color: white;
    font-size: 3rem;
    text-shadow: 0.1rem 0.1rem 0.2rem black;
    margin: 1rem 3rem;
}

/*.Main-Navigation h1:hover::after {
    content: "???";
    color: red;
}*/

a {
    text-decoration: none;
    font-style: 'Domine', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Business {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;

    width: 100%;
    min-height: 26rem;
    
    background-image: url(./Risorse/img/GeneralAutomation.jpg);
    background-size: cover;
    background-position: center;

    border-bottom: 1px solid gold;
    border-top: 1px solid gold;

    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;

        h2, p{
            background-color: black;
            opacity: 0.8;
            width: 100%;
            margin: 0;
            padding: 0.8rem 0;
        }
    
        h2 {
            font-size: 2rem;
            text-shadow: 0.05rem 0.05rem gold;
            color: #0cc;
        }
    
        p {
            color: white;
        }
    }

}


.Technology {
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(3, 1fr);
    justify-items: center;
    text-align: center;
    align-content: center;

    overflow: hidden;

    width: 100%;
    max-height: 800px;

    border-bottom: 1px solid gold;
    border-top: 1px solid gold;

    div{
        opacity: 0.8;
        /*filter: blur(1px);*/
        transition: all 0.5s ease-in-out;
    }

    h2, p{
        background-color: black;
        opacity: 0.8;
        width: 100%;
        padding: 0.6rem;
        margin: 0;
    }

    h2 {
        font-size: 2rem;
        text-shadow: 0.05rem 0.05rem gold;
        color: #0cc;
    }

    p {
        color: white;
    } 
}

.Technology:hover {
    img{
        filter: blur(3px);
    }

    div{
        opacity: 1;
        /*filter: blur(0);*/
    }
}

.Technology img {
    grid-area: 1 / 1 / 5 / 4;
    object-fit: cover;
    transition: all 0.5s ease-in-out;
}

.Technology div {
    grid-area: 3 / 1 / 3 / 4;
    z-index: 5;
    justify-items: center;
    align-content: center;
    overflow: visible;
    width: 100%;
    background-color: black;
    color: white;
    transition: all 0.5s ease-in-out;
}

footer {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    background-color: #056969;

    h3 {
        font-size: 1.5rem;
        text-shadow: 0.05rem 0.05rem gold;
        color: white;
        margin-bottom: 0;
    }

    p {
        padding: 0 2rem;
        color: white;
    }
}

a {
    color: red;
}



@media only screen and (max-width: 1000px) {

    html {
        font-size: 20px;
        /*min-width: 580px;*/
    }

    .Main-Navigation ul{
        flex-direction: column;
        li {
            margin: 0.2rem 0;
        }
    }
    .Technology {
        grid-template: repeat(3, 1fr) / repeat(3, 1fr);

        img{
            width: 100%;
            height: 100%;
            filter: blur(3px);
            grid-area: 1 / 1 / 4 / 4;
        }
        div {
            grid-area: 2 / 1 / 3 / 4;
            filter: none;
        }

    }

    .Technology:hover {
        img{
            filter: blur(3px);
        }
    }
}

@media only screen and (max-width: 840px) {
    
    .Main-Navigation{

        h1 {
            font-size: 2rem;
            margin: 1rem 1rem;
        }

        ul{
            margin-right: 1rem;
        }

    }
}

@media only screen and (max-width: 580px) {
    .Business {
        min-height: 52rem;
    }
}

@media only screen and (max-width: 490px) {
    .Main-Navigation {

        display: normal;
        position: fixed;
        z-index: 10;
        width: 100%;
        height: 4rem;
        padding: 1rem;
        text-align: center;
        background-color: rgba(0, 153, 153, 0.7);
        border-bottom: 1px solid gold;


        h1 {
            word-wrap: break-word;
            width: 100%;
            font-size: 1.8rem;
            justify-self: center;
            align-self: center;
        }
        ul {
            width: 0;
            visibility: hidden;
            padding: 0;
        }
    }
}