body{
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    color: gold;
    padding: 10px;
    text-align: center;
    font-family: Boldonse, sans-serif;
    font-size: 30px;
}

ul{
    margin: 8px 0;
    padding: 10px;
}

.Briciole li{
    display: inline;
    padding: 2px 3px;
    font-size: 13px;
    font-family: Boldonse, sans-serif;
}

.Briciole li+li::before{
    content:"> ";
    font-size: large;
    font-weight: 800;
}

.Briciole li a{
    color: #009999;
    text-decoration: none;
}

.Briciole li a.Attuale{
    color: black;
}

.Titolino{
    font-size: 40px;
    font-weight: 900;
    margin: 0px auto;
    font-family: Poppins, sans-serif;
    color: cadetblue;
    text-align: center;
    letter-spacing: 0.3em;
}

.Box{
    margin: 10px 30px;
    padding: 35px;
    border: 0px;
    border-radius: 5px;
    background-color: #009999;
}

.Box .SezioneDiCose{
    width: 100%;
    padding: 15px;
    display: inline-flex;
    justify-content: space-around;
    font-family: Roboto, sans-serif;
    font-size: 27px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
}


/*Color Page*/
.Box .Colore{
    width: 25%;
    height: 150px;
    padding: 10px 150px;
    align-content: center;
    border: 0px;
    border-radius: 10px;
}

.Box .Colore#Coral{
    background-color: #FF6F61;
    color:darkslategrey;
    transition: all 1s ease-in-out;
}

.Box .Colore#Coral:hover{
    background-color: #FF9B8A;
    color: black;
    font-size: larger;
}

.Box .Colore#Blu{
    background-color: #3A8DFF;
    color: white;
    transition: all 1s ease-in-out;
}

.Box .Colore#Blu:hover{
    background-color: #82b5fb;
    color: black;
    font-size: larger;
}

.Box .Colore#Grigio{
    background-color: #4D4D4D;
    color: gold;
    transition: all 1s ease-in-out;
}

.Box .Colore#Grigio:hover{
    background-color: #888888;
    color: black;
    font-size: larger;
}

.Box .Colore#Giallo{
    background-color: #FFCD02;
    color: black;
    transition: all 1s ease-in-out;
}

.Box .Colore#Giallo:hover{
    background-color: #f4e090;
    color: black;
    font-size: larger;
}


/*Font Page*/

.Box .Font{
    width: 25%;
    height: 150px;
    padding: 10px 150px;
    align-content: center;
    border: 0px;
    border-radius: 10px;
}

.Font span{
    text-decoration: underline;
}

.Box .Font#Poppins{
    background-color: white;
    color:black;
    font-family: Poppins, sans-serif;
    transition: all 1s ease-in-out;
}

.Box .Font#Poppins:hover{
    background-color: black;
    color:white;
    font-size: larger
}

.Box .Font#Boldonse{
    background-color: black;
    color:white;
    font-family: Boldonse, sans-serif;
    transition: all 1s ease-in-out;
}

.Box .Font#Boldonse:hover{
    background-color: white;
    color:black;
    font-size: larger;
}

.Box .Font#Roboto{
    background-color: black;
    color:white;
    font-family: Roboto, sans-serif;
    transition: all 1s ease-in-out;
}

.Box .Font#Roboto:hover{
    background-color: white;
    color:black;
    font-size: larger;
}

.Box .Font#PlayWrite{
    background-color: white;
    color:black;
    font-family: "Playwrite HU", sans-serif;
    transition: all 1s ease-in-out;
}

.Box .Font#PlayWrite:hover{
    background-color: black;
    color:white;
    font-size: larger;
}


/*Text Style Page*/

.Box .Text{
    width: 25%;
    height: 300px;
    padding: 5px 150px;
    align-content: center;
    border: 0px;
    border-radius: 10px;
    background-color: white;
    color: black;
    font-family: Poppins, sans-serif;
}

.Text#Grande h1{
    font-size: 26px;
    font-weight: 700;
    font-style: bold;
    transition: all 1s ease-in-out;
}

.Text#Medio{
    font-size: 18px;
    font-weight: 500;
    transition: all 1s ease-in-out;
    font-style: normal;
}

.Text#Piccolo{
    font-size: 14px;
    font-weight: 400;
    transition: all 1s ease-in-out;
}

footer{
    width: 100%;
    background-color: #ffd700; /*d8b115*/
    border-top: 4px solid #006666;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #006666;
}


/*Footer*/

footer p{
    margin: 10px auto;
    font-weight: 800;
}

footer p span{
    font-size: 15px;
    font-weight: 400;
}


footer a{
    font-size: 15px;
    text-decoration:underline;
    text-decoration-color: rgb(255, 255, 255);
    color: rgb(106, 106, 252);
}

footer a:hover{
    color: purple;
    text-decoration-color: purple;
}