@media only screen and (max-width: 480px){
  .page-title{
    width: 270px;
    background-color: #009999;
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px), (orientation: portrait){
  .gallery-item .thumbnail{
    width: 95%;    
  }
}

@media only screen and (min-resolution: 0dpi){
  .logo{
    background-image: url("../img/spaceship@2x.png");
  }
}

@media only screen and (max-resolution: 150dpi) and (max-width: 480px){
  .page-description{
    font-size: 20px;
  }
}
