<<<<<<< Updated upstream
* {
    font-family: 'Nunito Sans', 'Lato';
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    width: 100%;
    height: 200px;
    text-align: center; 
    border-bottom: 2px solid #000999;
    background-image: url('./Immagini/Sfondo_Titolo.jpg');
    background-blend-mode: overlay;
    background-size: 100% auto;
}

.Blocco-Titolo {
    background-color: hsla(33, 55%, 100%, 0.5);
    font-size: 3em;
    font-family: Lato, sans-serif, 'Times New Roman'; /* Sovrapposizione di font, vince la proprietà più dettagliata */
    color: black;
    font-weight: 800;
}

#Titolo span {
    color: hsla(200, 100%, 50%, 1);
    font-style: italic;
    font-weight: 1000;
}

.Blocco-Titolo #Titolo {
    position: relative;
    top: 20px;
}

main{
    background-image: url('./Immagini/Sfondo_Corpo.jpg');
    background-size: cover;
    background-repeat: no-repeat; /* Non ripetere l'immagine nel caso non fitti */
    background-position: center;
    background-blend-mode: overlay;
    background-color: hsla(33, 50%, 100%, 0.3);
    height: 500px
}

.Istruzioni-Principali, .Istruzioni-Secondarie {
    position: relative;
    top: 10px;
    left: 20px;
    text-align: center;
    border: 2px solid black;
    margin: 0;
    background-color: hsla(200, 100%, 50%, 0.2);
}

table td {
    padding: 10px;
    border-top: 2px solid black;
    border-right: 2px dashed black;
    background-color: hsla(33, 55%, 85%, 0.4);
}

tr span {
    color: hsla(200, 100%, 30%, 1);
    font-size: 1.1em;
    font-style: oblique;
}


.Tabelle-Istruzioni {
    display: flex; /* Distrubuzione del contenuto */
    align-items: flex-start; /*Allinea in alto*/ 
    gap: 10px;
}

.Istruzioni-Principali, .Istruzioni-Secondarie {
    flex: 1; /* Le tabelle occupano lo stesso spazio */
    max-width: 48%; 
    box-sizing: border-box; /* Inclusione padding e margine nella larghezza e altezza, moltoc comodo */
}


footer {
    position: relative;
    bottom: 0;
    text-align: center;
    height: 25px;
    word-spacing: 1.5em;
    letter-spacing: 0.5em;
    border-top: 3px solid red;
    background-color: hsla(33, 55%, 85%, 1);
=======
* {
    font-family: 'Nunito Sans', 'Lato';
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    width: 100%;
    height: 200px;
    text-align: center; 
    border-bottom: 2px solid #000999;
    background-image: url('./Immagini/Sfondo_Titolo.jpg');
    background-blend-mode: overlay;
    background-size: 100% auto;
}

.Blocco-Titolo {
    background-color: hsla(33, 55%, 100%, 0.5);
    font-size: 3em;
    font-family: Lato, sans-serif, 'Times New Roman'; /* Sovrapposizione di font, vince la proprietà più dettagliata */
    color: black;
    font-weight: 800;
}

#Titolo span {
    color: hsla(200, 100%, 50%, 1);
    font-style: italic;
    font-weight: 1000;
}

.Blocco-Titolo #Titolo {
    position: relative;
    top: 20px;
}

main{
    background-image: url('./Immagini/Sfondo_Corpo.jpg');
    background-size: cover;
    background-repeat: no-repeat; /* Non ripetere l'immagine nel caso non fitti */
    background-position: center;
    background-blend-mode: overlay;
    background-color: hsla(33, 50%, 100%, 0.3);
    height: 500px
}

.Istruzioni-Principali, .Istruzioni-Secondarie {
    position: relative;
    top: 10px;
    left: 20px;
    text-align: center;
    border: 2px solid black;
    margin: 0;
    background-color: hsla(200, 100%, 50%, 0.2);
}

table td {
    padding: 10px;
    border-top: 2px solid black;
    border-right: 2px dashed black;
    background-color: hsla(33, 55%, 85%, 0.4);
}

tr span {
    color: hsla(200, 100%, 30%, 1);
    font-size: 1.1em;
    font-style: oblique;
}


.Tabelle-Istruzioni {
    display: flex; /* Distrubuzione del contenuto */
    align-items: flex-start; /*Allinea in alto*/ 
    gap: 10px;
}

.Istruzioni-Principali, .Istruzioni-Secondarie {
    flex: 1; /* Le tabelle occupano lo stesso spazio */
    max-width: 48%; 
    box-sizing: border-box; /* Inclusione padding e margine nella larghezza e altezza, moltoc comodo */
}


footer {
    position: relative;
    bottom: 0;
    text-align: center;
    height: 25px;
    word-spacing: 1.5em;
    letter-spacing: 0.5em;
    border-top: 3px solid red;
    background-color: hsla(33, 55%, 85%, 1);
>>>>>>> Stashed changes
}